service: voiceover-api

provider:
  name: aws

  runtime: nodejs20.x

  region: us-east-1

  stage: dev

  profile: serverless-user

  environment:
    S3_BUCKET_NAME: my-voiceover-uploads-2025

    DYNAMODB_TABLE_NAME: Voiceovers

    FRONTEND_URL: http://my-voiceover-frontend-2025.s3-website-us-east-1.amazonaws.com

 

  
  iam:
    role:
      statements:
        - Effect: "Allow"

          Action:
            - "dynamodb:Scan"

            - "dynamodb:PutItem"

            - "dynamodb:GetItem"

            - "dynamodb:DeleteItem"

          Resource: "arn:aws:dynamodb:${aws:region}:*:table/${self:provider.environment.DYNAMODB_TABLE_NAME}"

        - Effect: "Allow"

          Action:
            - "s3:PutObject"

            - "s3:GetObject"

            - "s3:DeleteObject"

          Resource: "arn:aws:s3:::${self:provider.environment.S3_BUCKET_NAME}/*"

package:
  patterns:
    - "!frontend/**"

    - "!.vscode/**"

    - "!.git/**"

functions:
  # 1. Main API Function (Existing)

  api:
    handler: dist/server.handler

    events:
      - httpApi:
          method: "*" # Catches ANY method

          path: "*" # Catches all paths


  